<!DOCTYPE html>
<html lang="en" data-bs-theme="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SlingingAI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="./static/pastel.css"> -->
    <!-- <link rel="stylesheet" href="./static/custom.css"> -->
    <link rel="stylesheet" href="./static/dark.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/monokai-sublime.min.css" integrity="sha512-ade8vHOXH67Cm9z/U2vBpckPD1Enhdxl3N05ChXyFx5xikfqggrK4RrEele+VWY/iaZyfk7Bhk6CyZvlh7+5JQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Roboto+Mono&display=swap" rel="stylesheet">
</head>

<body>
    <div class="parent">
        <div class="content">
            <div class="container col-lg-6 mt-4" id="response_parent">
                <div class="card">
                    <div class="card-body">
                        <span id="response">
                            Overflowing the buffers while waiting...
                        </span> 
                    </div>
                </div>
            </div>
            <div class="container mt-4 col-lg-6 text-muted text-center my-auto" id="greeting_cards">
                <div class="row g-4">
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <div class="card-body">
                                How do I make an HTTP request in Javascript?
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <div class="card-body">
                                How much does the OpenAI API cost?
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card h-100">
                            <div class="card-body">
                                Summarize ADP 6-22 in 3 sentences.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <footer class="align-baseline">
            <div class="container col-lg-6">
                <div class="card my-4">
                    <div class="card-body">
                        <form class="input-group" onsubmit="chat()" id="user_request_form">
                            <input type="text" class="border-end-0 no-border-focus form-control form-control-custom" placeholder="Ask me anything!" id="user_request">
                            <button type="submit" class="btn border-start-0 btn-custom" id="user_request_button"><i class="bi bi-send"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<script src="./javascript/api.js"></script>
</html>