:root {
    --bg-color: #1f1f1f;
    --drop-shadow: 0 2px 15px -3px rgba(0,0,0,0.5),0 10px 20px -2px rgba(0,0,0,0.04);
    --radius: calc(0.5rem - 1px);
    --up-overlay: rgba(242,242,242,0.05);
    /* --up-color: rgba(50,50,50,1); */
    --up-color: #2A2A2A;
}

* {
    outline-color: transparent;
    margin: 0;
    padding: 0;
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-family: 'Hanken Grotesk', sans-serif;
    scrollbar-width: none !important;
}

*::-webkit-scrollbar {
    width: 0px !important;
}

html {
    height: 100%;
    width: 100vw;
}

body{ 
    height: 100%;
    background-color: var(--bg-color);
    scrollbar-width: thin;
}

html::-webkit-scrollbar {
    width: 0.2rem;
}

.parent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    overflow: auto;
    padding-bottom: 140px;
}

.no-border-focus:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
}

/* target the last element in #response */
#response > *:last-child {
    margin-bottom: 0;
}

/* everything that needs color changing */

footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    background: linear-gradient(0deg, rgb(15, 15, 15) 0%, hsla(0, 0%, 100%, 0) 90%);
}

/* pre {
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 5px;
} */

code * {
    font-family: 'Roboto Mono', monospace;
}

.card {
    box-shadow: var(--drop-shadow);
    /* border-radius: var(--radius); */
    border-radius: 10px;
    border: none;
    background-color: var(--up-color);
    color: whitesmoke;
}

.form-control-custom {
    background-color: var(--bg-color);
    color: whitesmoke;
    border-color: darkgray;
}

.form-control-custom::placeholder {
    color: darkgray;
}

.form-control-custom:focus {
    background-color: var(--bg-color);
    color: whitesmoke;
    border-color: darkgray;
}

.form-control-custom:disabled {
    background-color: var(--bg-color);
    color: darkgray;
    border-color: darkgray;
}

#greeting_cards * {
    color: darkgray;
}


.btn-custom {
    /* background-color: var(--bg-color); */
    background-color: inherit;
    /* border-color: darkgray; */
    color: white;
    opacity: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
}

.btn-custom:hover{
    outline-color: white;
    border-color: darkgray;
    opacity: 1;
}

.btn-custom:disabled{
    /* background-color: var(--bg-color); */
    color: darkgray;
    border-color: darkgray;
    opacity: 1;
}

textarea {
    resize: none;
    max-height: 10rem;
    padding: 0.5rem;
    /* height: 2.5rem; */
    height: auto;
    scrollbar-width: thin;
    /* min-height: 1rem; */
}

textarea::-webkit-scrollbar {
    width: 0.2rem;
}

#delete:hover {
    /* recolor svg red */
    color: #AF233A;
}


.accordion-item {
    background-color: inherit;
    color: whitesmoke;
    box-shadow: none;
    border-color: gray transparent;
    /* border: 1px; */
}

.accordion-button {
    background-color: inherit;
    /* color: whitesmoke; */
    color: darkgray;

}

.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: inherit;
    border-color: whitesmoke;
    border: 1px;
}

.accordion-button:focus {
    outline-color: transparent;
    box-shadow: none;
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F5F5F5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F5F5F5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}



