:root {
    --bg-color: #1f1f1f;
    --drop-shadow: 0 2px 15px -3px rgba(0,0,0,0.5),0 10px 20px -2px rgba(0,0,0,0.04);
    --radius: calc(0.5rem - 1px);
    --up-overlay: rgba(255,255,255,0.05);
}

* {
    outline-color: transparent;
    margin: 0;
    padding: 0;
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

html {
    height: 100%;
}

body{ 
    height: 100%;
    background-color: var(--bg-color);
}

.parent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    overflow: auto;
    padding-bottom: 140px;
}

.no-border-focus:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
}

/* target the last p element in  #response*/
#response p:last-child {
    margin-bottom: 0;
}

/* everything that needs color changing */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(0deg, rgb(15, 15, 15) 0%, hsla(0, 0%, 100%, 0) 90%);
}

pre {
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 5px;
}

.card {
    box-shadow: var(--drop-shadow);
    border-radius: var(--radius);
    border: none;
    background-color: var(--up-overlay);
    color: whitesmoke;
}

.form-control {
    background-color: var(--bg-color);
    color: whitesmoke;
    border-color: darkgray;
}
/* target the placeholder value */
.form-control::placeholder {
    color: darkgray;
}

.form-control:focus {
    background-color: var(--bg-color);
    color: whitesmoke;
}

.form-control:disabled {
    background-color: var(--bg-color);
    color: darkgray;
}
