:root {
    --bg-color: #1f1f1f;
    --drop-shadow: 0 2px 15px -3px rgba(0,0,0,0.5),0 10px 20px -2px rgba(0,0,0,0.04);
    --radius: calc(0.5rem - 1px);
    --up-overlay: rgba(242,242,242,0.05);
    /* --up-color: rgba(50,50,50,1); */
    --up-color: #2A2A2A;
}

* {
    outline-color: transparent;
    margin: 0;
    padding: 0;
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-family: 'Hanken Grotesk', sans-serif;
}

html {
    height: 100%;
}

body{ 
    height: 100%;
    background-color: var(--bg-color);
}

.parent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    overflow: auto;
    padding-bottom: 140px;
}

.no-border-focus:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
}

/* target the last p element in  #response*/
/* #response p:last-child {
    margin-bottom: 0;
} */

/* target the last element in #response */
#response > *:last-child {
    margin-bottom: 0;
}

/* everything that needs color changing */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(0deg, rgb(15, 15, 15) 0%, hsla(0, 0%, 100%, 0) 90%);
}

/* pre {
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 5px;
} */

code * {
    font-family: 'Roboto Mono', monospace;
}

.card {
    box-shadow: var(--drop-shadow);
    /* border-radius: var(--radius); */
    border-radius: 10px;
    border: none;
    background-color: var(--up-color);
    color: whitesmoke;
}

.form-control-custom {
    background-color: var(--bg-color);
    color: whitesmoke;
    border-color: darkgray;
}

.form-control-custom::placeholder {
    color: darkgray;
}

.form-control-custom:focus {
    background-color: var(--bg-color);
    color: whitesmoke;
    border-color: darkgray;
}

.form-control-custom:disabled {
    background-color: var(--bg-color);
    color: darkgray;
    border-color: darkgray;
}

#greeting_cards * {
    color: darkgray;
}


.btn-custom {
    /* background-color: var(--bg-color); */
    background-color: inherit;
    /* border-color: darkgray; */
    color: white;
    opacity: 1;
    position: absolute;
    bottom: 0;
    right: 0;
}

.btn-custom:hover{
    outline-color: white;
    border-color: darkgray;
    opacity: 1;
}

.btn-custom:disabled{
    /* background-color: var(--bg-color); */
    color: darkgray;
    border-color: darkgray;
    opacity: 1;
}

textarea {
    resize: none;
    max-height: 10rem;
    padding: 0.5rem;
    /* height: 2.5rem; */
    height: auto;
    /* min-height: 1rem; */
}